ENVIRONMENT_SETTINGS=DEVELOPMENT
DATABASE_URL=postgres://postgres:@db:5432/<your db name>
SECRET_KEY=MY_SUPER_SECRET_KEY
LOGLEVEL=DEBUG
GOOGLE_OAUTH_ID=Your Google OAUTH2 ID
GOOGLE_OAUTH_SECRET=Your Google OAUTH2 secret